[core]
    excludesfile = ~/.gitignore-global

[user]
    name  = mingjinwu
    email = mingjin.wu@gmail.com

[alias]
  # Adding
    a     = add
    af    = add -f  # force

  # Statue
    st    = status
    sts   = status -s -uno

  # log
    l     = log --stat
    lgo   = log --graph --oneline

    ci    = commit

[merge]
    tool = vimdiff

[mergetool]
    #prompt = false
    tool = vimdiff

[diff]
	tool = vimdiff

[difftool]
    #prompt = false
    tool = vimdiff
	prompt = No
