[core]
    excludesfile = ~/.gitignore-global

[user]
    name  = mingjinwu
    email = mingjin.wu@gmail.com

[alias]
  # Adding
    a     = add
    af    = add -f  # force

  # Statue
    st    = status
    sts   = status -s -uno
