[core]
    excludesfile = ~/.gitignore-global

[alias]
  # Adding
    a     = add
    af    = add -f  # force

  # Statue
    st    = status
    sts   = status -s -uno

[merge]
    tool = vimdiff

[mergetool]
    #prompt = false
    tool = vimdiff

[diff]
    tool = vimdiff

[difftool]
    #prompt = false
    tool = vimdiff



